.player1Box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.player2Box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.reset {
  text-align: center;
}
.not-active {
  opacity: 0.2;
}
.container {
  margin-top: 3.5%;
}
.player1WinTotal {
  font-family: fantasy;
  font-weight: bold;
}
.player2WinTotal {
  font-family: fantasy;
  font-weight: bold;
}

#nameSubmitButton {
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 5%;
}
.gameArea {
  border-style: inset;
  border-color: chocolate;
  margin-bottom: 5%;
}

.resetButton {
  display: none;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 5%;
}
.result {
  display: none;
}

body {
  background-color: pink;
}

h4{
  font-weight: 500;
  font-family: fantasy;
  margin-top: 10%;
  color: darkred;
  text-decoration: underline;
}
h3 {
  text-align: center;
  font-weight: 500;
  font-family: Verdana, Tahoma, sans-serif;
  color: red;
}

h2 {
  margin-top: 3%;
  text-align: center;
  color: gray;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-weight: 500;
}
span {
  color: crimson;
}
